extends base.pug
block header
  link(rel="stylesheet" href="styles/newPatient.css" type="text/css")
  title Add a patient
block content
  div(class="form-container")
    h1 Add a new patient
    form(id="add-patient")
      div(class="form-group row")
        label(class="col-sm-3 text-right control-label") First Name
        div(class="col-sm-9")
          input(
            type="text"
            class="form-control"
            placeholder="Enter your first name"
            name="fname"
            value=fname
          )

      div(class="form-group row")
        label(class="col-sm-3 text-right control-label") Last Name
        div(class="col-sm-9")
          input(
            type="text"
            class="form-control"
            placeholder="Enter your last name"
            name="lname"
            value=lname
          )

      div(class="form-group row")
        label(class="col-sm-3 text-right control-label") Age
        div(class="col-sm-9")
          input(
            type="number"
            class="form-control"
            placeholder="Enter your age"
            name="age"
            value=age
          )

      div(class="form-group row")  
        label(class="col-sm-3 text-right control-label") Date of birth
        div(class="col-sm-9")
          input(
            type="date"
            class="form-control"
            name="date"
            value=date
          )

      div(class="form-group row")  
        label(class="col-sm-3 text-right control-label") Gender
        div(class="col-sm-9")
          select(class="form-control" name="gender" value=gender)
            option Male
            option Female

      div(class="form-group row")
        label(class="col-sm-3 text-right control-label") Phone
        div(class="col-sm-9")
          input(
            type="tel"
            class="form-control"
            placeholder="Enter your phone number"
            name="phone"
            value=phone
          )

      div(class="form-group row")
        label(class="col-sm-3 text-right control-label") Details
        div(class="col-sm-9")
          textarea(placeholder="Enter details here"
          rows="6"
          class="form-control"
          name="details"
          value=details
        )
      button(type="button" class="col-sm-offset-3 col-sm-4 btn btn-primary" onclick="handleClick()") Submit
      button(type="button"
        class="col-sm-offset-1 col-sm-4 btn btn-primary"
        onclick="location.href='/patient-directory'"
      ) Patient directory
block scripts
  script(src="/scripts/validateForm.js").
    handleClick();

